<h1 class="text-primary">Fetch Product Details With Category</h1>

<form
  #myforms="ngForm"
  (ngSubmit)="myforms.valid && fetchProductsByCategory(myforms)"
>
  <div>
    <label for="id"> Id </label>
    <input type="string" id="id" name="id" ngModel />
  </div>

  <input type="submit" value="Get Product" />
</form>
<div *ngFor="let product of products">
  <div class="jumbotron" *ngIf="product !== undefined">
    Product Id is {{ product.productId }} <br />
    Product Name is {{ product.productName }} <br />
    Product Price is {{ product.price }} <br />
    Product Color is {{ product.color }} <br />
    Product Dimension is {{ product.dimension }} <br />
    Product Specification is {{ product.specification }} <br />
    Product Manufacturer is {{ product.manufacturer }} <br />
    Product Quantity is {{ product.quantity }} <br />
    Category is {{ product.catId }} {{ product.categoryName }}
  </div>
</div>
